*~
.*~
.vscode/
.idea/
*.*~
*.swp
*.swo
/gin-bin
/.circleci/local_deploy.env
/log/
/scheduler/*/log/
/serverless/node_modules
/serverless/secrets.*.yml
/serverless/.serverless
/serverless/bin
/serverless/package.json
/serverless/package-lock.json
/config.yml
/docs/swagger.*
/docs/docs.go
/tmp/
/docker-compose.override.yml
/migrations/migrate
